* {
    padding: 0;
    margin: 0;
    background-color: #020202;
    text-decoration: none;
    list-style: none;
    color: white;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
}

.navigation {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 90%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 70px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-bottom: 0.2px solid rgb(46, 46, 46);
}

.logo-section {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo-section img {
    height: 60px;
    margin-right: 10px;
}

.logo-section span {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.nav-list ul {
    display: flex;
    gap: 20px;
}

.nav-list a {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-list a:active{
    text-decoration: underline;
}

.nav-list a:hover {
    background-color: #000;
    color: #ff9800;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

@media (min-width: 810px) {
    .navigation {
        padding: 10px 50px;
        height: 80px;
    }

    .logo-section img {
        height: 60px;
    }

    .logo-section span {
        font-size: 1.8rem;
    }

    .nav-list ul {
        gap: 30px;
    }

    .nav-list a {
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}

@media (max-width: 600px) {
    .navigation {
        padding: 8px 12px;
    }

    .logo-section {
        margin-bottom: 12px;
        text-align: center;
    }

    .logo-section img {
        height: 40px;
    }

    .logo-section span {
        font-size: 1.1rem;
    }

    .nav-list ul {
        gap: 8px;
        align-items: center;
    }

    .nav-list a {
        font-size: 0.9rem;
        padding: 5px 8px;
        width: auto;
        text-align: center;
        border-radius: 3px;
    }
}

@media (max-width: 520px) {

    .logo-section span {
        display: none;
    }
}

.container {
    margin-top: 10rem;
}

.desc {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    border: 2px solid #76c76b;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(118, 199, 107, 0.5);
    color: #e0ffe0;
}

.desc h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #76c76b;
    background: #00000000;
}

.desc p {
    line-height: 1.8rem;
    font-size: 1rem;
    margin-top: 1rem;
    background: #00000000;
}

.copy-right {
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    padding: 1rem;
    color: #aaa;
    background-color: #020202;
    border-top: 1px solid #333;
}
